.clicky-image{
    width: 80%;
    height: 25vh;
    margin: 10%;
    cursor: pointer;
}

.clicky-image:hover, .clicky-image:active, .clicky-image:focus {
    border: 5px double whitesmoke;
    border-radius: 15px;
}