.jumbotron-bg{
    background: rgb(255, 255, 255, 0.6)
}

.jumbotron-title-text{
    font-family: var(--ovo);
    font-size: 6.5vh;
    color: darkgoldenrod;
    text-shadow: 2px 2px black;
}

.jumbotron-lead-text{
    font-family: var(--muli);
    font-size: 3vh;
    font-weight: bold;
    color: darkgoldenrod;
    text-shadow: 1px 1px black;
}